/* UA Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-family: sans-serif;
  color-scheme: dark light;
}

body {
  max-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Styles */
#root > div {
  margin: 2rem;
  text-align: center;
}

h1 {
  margin: 1.5rem 0.25rem;
}

label {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input, select {
  width: 60%;
  padding: 0.25rem;
  margin-left: 0.5rem;
}

button {
  padding: 0.25rem 0.5rem;
}

.search-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.pets {
  margin-top: 2rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  border: 1px solid white;
  gap: 1rem;
}

.pet {
  width: fit-content;
}
